@tailwind base;
@tailwind components;
@tailwind utilities;

.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  margin-bottom: 30px;
  background: transparent;
}

.scroll-wheel-left,
.scroll-wheel-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  border-radius: 10px;
  overflow: hidden; /* Ensure the fading effect doesn't go outside the bounds */
  z-index: 40;
}

.scroll-wheel-left {
  left: 2%; /* Position it 2% from the left edge */
  text-align: left; /* Align text to the left */
}

.scroll-wheel-left::before {
  content: "";
  position: absolute;
  left: 0; /* Position the line on the left */
  top: 0;
  bottom: 0;
  width: 4px;
  background: linear-gradient(
    to bottom,
    transparent,
    #4aa8dd,
    /* This is your brandblue */ transparent
  );
}

.scroll-wheel-right {
  right: 2%; /* Position it 2% from the right edge */
  text-align: right; /* Align text to the right */
}

.scroll-wheel-right::before {
  content: "";
  position: absolute;
  right: 0; /* Position the line on the right */
  top: 0;
  bottom: 0;
  width: 4px;
  background: linear-gradient(
    to bottom,
    transparent,
    #4aa8dd,
    /* This is your brandblue */ transparent
  );
}

.scroll-wheel-left ul,
.scroll-wheel-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative; /* Ensure the ul is positioned relative to its container */
  z-index: 1; /* Make sure the list is above the background */
}

.scroll-wheel-left li,
.scroll-wheel-right li {
  margin: 10px 0;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  transition: color 0.3s ease;
}

.scroll-wheel-left li {
  padding-left: 10px; /* Add some padding to the left to give space from the blue line */
}

.scroll-wheel-right li {
  padding-right: 10px; /* Add some padding to the right to give space from the blue line */
}

.scroll-wheel-left li.active,
.scroll-wheel-left li:hover {
  color: #4aa8dd;
  font-weight: bold;
  transform: none; /* Prevent the text from moving when hovered */
}
.scroll-wheel-right li.active,
.scroll-wheel-right li:hover {
  color: #4aa8dd;
  font-weight: bold;
  transform: none; /* Prevent the text from moving when hovered */
}

.scroll-wheel-left ul,
.scroll-wheel-right ul {
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    white 30%,
    white 60%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    white 30%,
    white 60%,
    transparent 100%
  );
}
